@import url(./global.css);
/* @import url("https://morpho-ui-css-docs.netlify.app/global/color.css"); */

.main__form--section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form--container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: var(--padding-sm);
  border: 2px solid var(--background-color);
  border-radius: 8px;
  row-gap: 10px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: inherit;
}

.forgot--link {
  text-decoration: none;
  color: var(--azraq-blue);
}

.fullwidth-btn {
  width: 100%;
}

.row--between {
  display: flex;
  justify-content: space-between;
}

.input--check {
  display: flex;
  column-gap: 2px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
}
