@import url(./global.css);

.main--section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.change__password--form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
