@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400&display=swap");
@import url("https://morpho-ui-css-docs.netlify.app/global/global.css");

* {
  /* 200 400 */
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  --padding-xs: 1rem;
  --padding-sm: 2rem;
  --padding-lg: 5rem;
  --border-radius-search: 1rem;
}

.body--section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.padding--xs {
  padding: var(--padding-xs);
}

.padding--sm {
  padding: var(--padding-sm);
}

.padding--sm--vertical {
  padding: var(--padding-sm) 0;
}

.padding--lg {
  padding: var(--padding-lg);
}

.header__title {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
}

.main__section {
  /* margin: 2rem 0; */
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.logo {
  display: flex;
  align-items: center;
  min-width: fit-content;
}

.logo--img {
  height: 40px;
  background-color: transparent;
}

@media screen and (max-width: 550px) {
  .logo--img {
    height: 30px;
  }
}

/* Search field */
.search__container {
  display: flex;
  height: 3.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  width: 100%;
  margin: 0 2rem;
}

.search__btn {
  color: var(--azraq-blue);
  background-color: var(--azraq-blue-light);
  padding: 0 var(--padding-xs);
  border-radius: 0 var(--border-radius-search) var(--border-radius-search) 0;
}

.search__input {
  outline: none;
  border: none;
  width: 100%;
  border-radius: var(--border-radius-search) 0 0 var(--border-radius-search);
  padding: 0 1rem;
  font-size: 1.6rem;
}

@media screen and (max-width: 900px) {
  .search__container {
    order: 1;
    flex-grow: 1;
  }
}

.full__width--btn {
  width: 100%;
}
