@import url(./global.css);

.main__section {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}

.grid-5-items {
  height: 100%;
  margin: auto 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: row;
  gap: 20px 10px;
}

@media screen and (max-width: 1200px) {
  .grid-5-items {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .grid-5-items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .grid-5-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .grid-5-items {
    grid-template-columns: repeat(1, 1fr);
  }
}

.shopping--card {
  height: 45rem;
  max-height: 45rem;
}

.item--image {
  min-height: 05rem;
  height: 30rem;
  max-height: 30rem;
}

.img--fitheight {
  height: 100%;
}

.card--detail {
  padding: 3px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card--btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-btn {
  width: 100%;
}

.card--price {
  display: flex;
  gap: 4px;
}
